RewriteEngine on
# admin
RewriteRule ^admin/all-books$ admin/index.php?p=all
RewriteRule ^admin/categories$ admin/index.php?category
RewriteRule ^admin/settings$ admin/index.php?settings
RewriteRule ^admin/add-new-book$ admin/index.php?book=add

#grenerate url
RewriteRule ^admin/spektr$ admin/index.php?edit=5b2d29edda145
RewriteRule ^admin/avtostopom-po-galaktike$ admin/index.php?edit=5b2d2a013238c
RewriteRule ^admin/test$ admin/index.php?edit=5b2d2c40f1414
RewriteRule ^admin/123$ admin/index.php?edit=5b2d2c5a1b4de
RewriteRule ^admin/new-book$ admin/index.php?edit=5b2e556db4295
RewriteRule ^admin/new-new-new-book$ admin/index.php?edit=5b3643e65be6b
RewriteRule ^new-new-new-book.html$ full.php?id=5b3643e65be6b
