* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-contater {
    /* width: 1500px; */
    margin: 0 auto;
}

.left-sidebar {
    background: #1C2833;
    color: #eee;
    float: left;
    /* position: fixed; */
    height: 100vh;
    /* width: 300px; */
    padding: 10px;
}

.left-sidebar>.ls-menu {
    margin: 10px auto;
    /* width: 50%; */
}

.left-sidebar>.ls-menu>.items {
    /* border: 1px solid #ccc; */
    padding: 10px 15px;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

.left-sidebar>.ls-menu>.items>li {
    /* border-top: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.content {
    float: left;
    padding: 0;
    /* width: 1200px; */
    /* vertical-align: top;
    margin-left: -4px; */
}

.content>.content-header {
    /* height: 50px; */
    background: #FFC300;
    /* display: block; */
}

.out {
    padding: 20px;
    width: 90%;
    margin: 15px auto;
}

/*********************Add book***************************/

.out>#addBook>.submit {
    display: block;
    margin: 15px auto;
}

.out>#addBook>.poster-contaner {
    padding: 10px 30px;
    display: table;
    margin: 0 auto;
}

.out>#addBook>.poster-contaner>.poster-inp-contaner {
    width: 300px;
    float: left;
}

.remove-book {
    color: red;
    float: right;
}

#addBook>label {
    width: 130px;
}

.aTitle {
    text-align: center;
}

/********************Category******************************/

/* .out>.catOut {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
} */

.out>.catOut>.catList {
    /* width: 500px; */
    /* flex-direction: row !important; */
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px 15px 0 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.out>.catOut>.catList>li {
    margin: 0 5px 15px 5px;
    display: table;
}

.out>.catOut>.catList>li>.removeCat {
    text-decoration: none;
    margin: 0 0 0 30px;
    /* padding: 0 10px; */
}

.out>.catOut>.catList>li>.removeCat:hover {
    /* background: #ccc; */
    color: red;
    /* border-radius: 50%; */
}

#catExistsAlert {
    display: table;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
}